<div class="description">
  <div>
    <b><%= content.word%></b>
    <br><%= content.part.name %>
  </div>
 
  <div>
    <%= content.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>

  <div class="description-bottom">
    <div>
      <%= link_to "詳細", content_path(content.id)%>
    </div>
  </div>
</div>