<%= render "shared/header"%>

<div class="about-main">
  <div>
    <h1>
      WordStockについて
    </h1>
    <div>
      <div>
        WordStockは、英語学習者がより能動的に学習を進められる様に作成されたアプリケーションです。
      </div>
      <div>
        白紙の辞書に、単語を追加していき、意味を追加していき、例文を追加していく...そんなイメージです。
      </div>
      <div>
        他のユーザーたちと共に、自分のクリエイティビティを活かして、１冊の辞書を作り上げていきましょう！
      </div>
    </div>
  </div>
  
  <div class="useful-function">
    <h2>
      使える機能
    </h2>
    <div>
      ・単語の追加
    </div>
    <div>
      ・意味の追加
    </div>
    <div>
      ・例文の追加
    </div>
    <div>
      ・日記の投稿
    </div>
    <div>
      ・単語検索...etc
    </div>
  </div>

  <div class="about-english-learning">
    <h2>
      語学学習のキホン
    </h2>
    <div>
      語学学習において、インプットはもちろん大切ですが、使える能力を養うためにはアウトプットが必須項目です。
    </div>
    <div>
      アウトプットのコツ、それは
    </div>
    <div class="learning-points">
      <div class="learning-point">
        間違いを恐れないこと。
      </div>
      <div class="learning-point">
        そして、間違いを咎めないこと。
      </div>
    </div>
    <div>
      自ら間違えに気がつき、気がついた間違えを修正するまでが学習です。
    </div>
    <div>
      それが成長につながります。
    </div>
    <div>
      一緒に辞書を作り上げていきましょう！
    </div>
    <div class="get-started">
      Let's get started!
    </div>
  </div>
</div>

<%= render "shared/footer"%>