.main {
  margin: 5vh 10vw 5vh 10vw;
  display:flex;
  justify-content: space-between;
}

.new-btn {
	background-color:#92d948;
	border-radius:28px;
	border:1px solid #98f735;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:17px;
  font-weight: bold;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #8cbb5a;
  margin-bottom: 2vh;
}
.new-btn:hover {
  color:#ffffff;
  background-color:#8fca51;
  text-decoration: none;
}
.new-btn:active {
	position:relative;
	top:1px;
}

.position-center {
  text-align: center;
}